<h1 class="title">{{site.about_me_title}}</h1>
<p class="title" data-aos="fade-down">{{site.about_me_description}}</p>
<p class="description" data-aos="fade-down">
    👨‍💻 I'm a Software Developer, but long-term I intend to move towards becoming a Data Scientist.
</p>
<p class="description" data-aos="fade-down">
    🤖‍ An Artificial Intelligence, Machine Learning enthusiast
</p>
<p class="description" data-aos="fade-down">
    📝 📈 I love to learn new things and research 🎧 💻 🔍 
</p>
<p class="description" data-aos="fade-down">
    📝 I write articles <a href="https://crazz-zaac.github.io/blog/">here</a> and <a href="https://r-alpha919.medium.com/">here</a>.
</p>
<p class="description" data-aos="fade-down">
    ⚡ I play basketball as a hobby  🏀 
</p>
<h1 class="title">
    <a href="https://crazz-zaac.github.io/blog/">My Blog</a>
</h1>

